.about {
	display: flex;
	gap: 50px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: space-between;
}

.contacts {
	display: flex;
	gap: 20px;
}

.text {
	text-align: justify;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.author {
	width: 300px;
	border-radius: 5px;
}

.social {
	transition: transform 0.5s ease;
}

.social:hover {
	filter: invert(50%);
	transform: scale(1.25);
}
