.button {
	font-family: inherit;
	cursor: pointer;
	transition: background 1s;
	border: 1px solid grey;
	color: var(--white-color);
	border-radius: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	padding: 20px 60px;
}

.button:hover {
	background: var(--scrollbar-color-background);
}
