.button {
	font-family: inherit;
	cursor: pointer;
	transition: background 1s;
	border: 1px solid grey;
	color: var(--white-color);
	border-radius: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding: 16px 24px;
	background: var(--primary-color);
}
