.menu {
	display: flex;
	align-items: center;
}

.list {
	display: flex;
	gap: 10px 30px;
	align-items: baseline;
	flex-wrap: wrap;
}

.list:last-child {
	width: 100%;
	justify-content: center;
}

.item {
	display: flex;
	align-items: baseline;
	gap: 10px;
}

.active {
	color: var(--text-color-hover);
}

.link {
	transition: all 0.5s ease;
}

.link:hover {
	filter: invert(50%);
}

.count {
	background-color: var(--primary-color);
	border-radius: 50%;
	width: 22px;
	height: 22px;
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 14px;
}

.icon {
	width: 18px;
}

.name {
	color: var(--primary-color);
}
