.menu {
	display: flex;
	align-items: center;
}

.list {
	display: flex;
	gap: 30px;
	align-items: baseline;
}

.link {
	transition: all 0.5s ease;
	display: flex;
	align-items: baseline;
	gap: 10px;
}

.active {
	color: var(--text-color-hover);
}

.link:hover {
	filter: invert(50%);
}
