.select-wrapper {
	display: flex;
	justify-content: end;
	margin-bottom: 25px;
}

.select {
	color: var(--text-color-paragraph);
	outline: none;
	border-radius: 5px;
}

.option {
	font-style: italic;
}
