.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--separator-color);
	margin-bottom: 25px;
}

@media screen and (max-width: 468px) {
	.header {
		flex-direction: column;
	}
}
