:root {
	--font: 'Bodoni Moda', serif;
	--footer-color: black;
	--footer-text-color: white;
	--text-color: black;
	--text-color-paragraph: grey;
	--separator-color: black;
	--text-color-hover: grey;
	--spinner-color: black;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font);
	font-weight: 400;
	font-style: normal;
	margin: 0 auto;
	min-height: 100vh;
	overflow-x: hidden;
}

a,
ul,
li,
h1,
p {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
